body
{
    font-family: "Ubuntu", sans-serif;
    overflow: auto;
    box-sizing: border-box;
}
.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-image: url('../background.png');
    background-size: cover;
    background-position: center;
    filter: blur(5px); 
    z-index: -13; 
}
.logo img
{
    width: 10%;
    padding-left:1%;
    padding-top:1%;
}
.form
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.426);
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 2%;
    padding-bottom: 0.5%;
    width: 400px;
    height: 400px;
    gap:10px;
    border-radius: 10%;
    box-shadow: -1px 5px 5px 0px rgba(0, 0, 0, 0.386);
}
.form .text
{

    color: white;
    font-size: 50px;
    text-align: center;
    font-weight: bold;
    transform: translate(0,-25px);

}
.form input
{
    width: 90%;
    height:80px;
    margin: auto;
    border-radius: 7px;
    transform: translate(0,-40px);
    border: none;
    border:2px #00000060 solid;
}
.form input[type="button"]:nth-child(4)
{
    background-color: #4f0000;
    color: white;
    font-size: larger;
    height: 90px;
    border: none;
    box-shadow: 0px 1px 1px 0 rgba(255, 255, 255, 0.259);

}

.form input[type="button"]:nth-child(5)
{
    background-image: url('/microsoft-logo-microsoft-icon-transparent-free-png.png');
    background-position: 11%;
    background-size: 13%;
    background-repeat: no-repeat;
    color: #4f0000;
    border: 1px solid #4f000043;
    font-weight: 500;
    height: 90px;
}
.form input::placeholder
{
    padding: 0 10px;
}

.form:hover
{
    animation-name: change-color;
    animation-duration: 0.1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;

}
.form:hover .text
{
  color:#5f2c2c;
}
.form input[type="button"]:hover:nth-child(4)
{
    animation-name: change-colors;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}
.form input:focus
{
    outline: none;
}

@keyframes change-color
{
    50%
    {
        
        background-image: linear-gradient(to right, rgba(255, 255, 255, 0.399),#4f00002a );
    }
    100%
    {
        
        background-image: linear-gradient(to right, rgba(255, 255, 255, 0.399),#4f000083 );
    }
}
@keyframes change-colors
{
    100%
    {
        background-color:#ad1e1e ;
    }
}
@media (max-width:700px)
{
    .logo img
{
    width: 40%;
    padding-left:1%;
    padding-top:1%;
}
.form
{
    width: 90%;
    height: 400px;
}
}
